---
import Contact from "./Contact.astro";
import Experiances from "./Experiances.astro";
---

<section>
  <div class="mx-auto max-w-7xl py-12">
    <div class="mx-auto max-w-xl">
      <div class="grid gap-12 md:gap-24">
        <Experiances />
        <Contact />
      </div>
    </div>
  </div>
</section>
