<!DOCTYPE html>
<html lang="en" ng-app="kitchensink">

<head>
	<meta charset="utf-8">
	<title>ImpressionDirect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<style>
		pre {
			margin-left: 15px!important
		}
	</style>
	<style>
		.thumb {
			height: 165px;
			border: 1px solid #000;
			margin: 1px 1px 10px 40px;
		}
	</style>
	<!--[if lt IE 9]>
	<script src="excanvas.js"></script>
	<![endif]-->
	<script src="js/prism.js"></script>
	<script src="js/fabric.js"></script>
	<script src="js/angular.min.js"></script>
</head>

<body bgcolor="black">
	<div id="bd-wrapper" ng-controller="CanvasControls">

		<div class="row">
			<!--[if IE]><script src="../lib/fonts/Delicious.font.js"></script><![endif]-->
			<script src="js/jquery.js"></script>
			<script src="js/bootstrap.js"></script>
			<link rel="stylesheet" href="css/bootstrap.css">
			<script src="js/paster.js"></script>
			<link rel="stylesheet" href="css/index.css">
			<link href="http://fonts.googleapis.com/css?family=Plaster" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css">

			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="navbar-brand" href="#">Brand</a>-->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add <strong>simple shapes</strong> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<button type="button" class="btn btn-default rect" ng-click="addRect()">Rectangle</button>
									</li>
									<li>
										<button type="button" class="btn btn-default circle" ng-click="addCircle()">Circle</button>
									</li>
									<li>
										<button type="button" class="btn btn-default triangle" ng-click="addTriangle()">Triangle</button>
									</li>
									<li>
										<button type="button" class="btn btn-default line" ng-click="addLine()">Line</button>
									</li>
								</ul>
							</li>
							<li><span class="btn btn-default btn-file navbar-btn">Add image <span class="glyphicon glyphicon-folder-open"></span>
								<input type="file" id="imgLoader">
								</span>
								<button class="btn btn-default navbar-btn" ng-click="addText()"><span class="glyphicon glyphicon-font"></span> Text</button>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Move <strong>Layer</strong> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<div class="object-controls" object-buttons-enabled="getSelected()">
										<li>
											<button id="send-backwards" class="btn btn-default btn-object-action" ng-click="sendBackwards()"><span class="glyphicon glyphicon-menu-down"></span> Send backwards</button>
										</li>
										<li>
											<button id="send-to-back" class="btn btn-default btn-object-action" ng-click="sendToBack()"><span class="glyphicon glyphicon-triangle-bottom"></span> Send to back</button>
										</li>
										<li>
											<button id="bring-forward" class="btn btn-default btn-object-action" ng-click="bringForward()"><span class="glyphicon glyphicon-menu-up"></span> Bring forwards</button>
										</li>
										<li>
											<button id="bring-to-front" class="btn btn-default btn-object-action" ng-click="bringToFront()"><span class="glyphicon glyphicon-triangle-top"></span> Bring to front</button>
										</li>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Lock <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<div class="object-controls" object-buttons-enabled="getSelected()">
										<li>
											<button class="btn btn-default btn-lock btn-object-action" ng-click="setHorizontalLock(!getHorizontalLock())" ng-class="{'btn-inverse': getHorizontalLock()}">
												{[ getHorizontalLock() ? 'Unlock horizontal movement' : 'Lock horizontal movement' ]}
											</button>
										</li>
										<li>
											<button class="btn btn-default btn-lock btn-object-action" ng-click="setVerticalLock(!getVerticalLock())" ng-class="{'btn-inverse': getVerticalLock()}">
												{[ getVerticalLock() ? 'Unlock vertical movement' : 'Lock vertical movement' ]}
											</button>
										</li>
										<li>
											<button class="btn btn-default btn-lock btn-object-action" ng-click="setScaleLockX(!getScaleLockX())" ng-class="{'btn-inverse': getScaleLockX()}">
												{[ getScaleLockX() ? 'Unlock horizontal scaling' : 'Lock horizontal scaling' ]}
											</button>
										</li>
										<li>
											<button class="btn btn-default btn-lock btn-object-action" ng-click="setScaleLockY(!getScaleLockY())" ng-class="{'btn-inverse': getScaleLockY()}">
												{[ getScaleLockY() ? 'Unlock vertical scaling' : 'Lock vertical scaling' ]}
											</button>
										</li>
										<li>
											<button class="btn btn-default btn-lock btn-object-action" ng-click="setRotationLock(!getRotationLock())" ng-class="{'btn-inverse': getRotationLock()}">
												{[ getRotationLock() ? 'Unlock rotation' : 'Lock rotation' ]}
											</button>
										</li>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add <strong>effect</strong> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<div class="object-controls" object-buttons-enabled="getSelected()">
										<li>
											<button id="gradientify" class="btn btn-default btn-object-action" ng-click="gradientify()">Gradientify</button>
										</li>
										<li>
											<button id="shadowify" class="btn btn-default btn-object-action" ng-click="shadowify()">Shadowify</button>
										</li>
										<li>
											<button id="clip" class="btn btn-default btn-object-action" ng-click="clip()">Clip</button>
										</li>
									</div>
								</ul>
							</li>
							<li>
								<button id="drawing-mode" class="btn btn-info navbar-btn" ng-click="setFreeDrawingMode(!getFreeDrawingMode())" ng-class="{'btn-inverse': getFreeDrawingMode()}">
									{[ getFreeDrawingMode() ? 'Exit free drawing mode' : 'Enter free drawing mode' ]} <span class="glyphicon glyphicon-pencil"></span>
								</button>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		<div class="row canvasAndControls">

			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Export/Remove/Clear</h3>
					</div>
					<div class="panel-body">
						<button class="btn btn-danger navbar-btn btn-object-action" id="remove-selected" ng-click="removeSelected()"><span class=" glyphicon glyphicon-trash"></span> Remove object/group</button>
						<button class="btn btn-danger navbar-btn clear" ng-click="confirmClear()">Clear canvas</button>
						<button class="btn btn-success navbar-btn" id="rasterize" ng-click="rasterize()"><span class="glyphicon glyphicon-ok"></span> Done </button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div id="canvas-wrapper">
					<div id="canvas-controls">
					</div>
					<output id="list"></output>
					<canvas id="canvas" width="417.5" height="562.5"></canvas>
				</div>
			</div>
			<div class="col-sm-4">

				<div id="color-opacity-controls" ng-show="canvas.getActiveObject()">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Opacity and Color</h3>
						</div>
						<div class="panel-body">
							<input value="100" type="range" class="barre" bind-value-to="opacity">
							<label for="color" style="margin-left:10px">Color: </label>
							<input type="color" style="width:40px" class="btn btn-default barre " bind-value-to="fill">
						</div>
					</div>
				</div>
				<div id="drawing-mode-options" ng-show="getFreeDrawingMode()">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Free drawing mode controls</h3>
						</div>
						<div class="panel-body">
							<label for="drawing-mode-selector">Mode:</label>
							<select id="drawing-mode-selector" bind-value-to="drawingMode" class="btn btn-default btn-object-action">
								<option>Pencil</option>
								<option>Circle</option>
								<option>Spray</option>
								<option>Pattern</option>
								<option>hline</option>
								<option>vline</option>
								<option>square</option>
								<option>diamond</option>
								<option>texture</option>
							</select>
							<br>
							<label for="drawing-line-width">Line width:</label>
							<input type="range" value="30" min="0" max="150" bind-value-to="drawingLineWidth" class="btn">
							<br>
							<label for="drawing-color">Line color:</label>
							<input type="color" value="#005E7A" bind-value-to="drawingLineColor" class="btn btn-default barre ">
							<br>
							<label for="drawing-shadow-width">Line shadow width:</label>
							<input type="range" value="0" min="0" max="50" bind-value-to="drawingLineShadowWidth" class="btn ">
						</div>
					</div>
				</div>
				<div id="text-wrapper" style="margin-top: 10px" ng-show="getText()">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Text controls</h3>
						</div>
						<div class="panel-body">
							<textarea bind-value-to="text" style="width: 100%; height: 62px;"></textarea>
							<div id="text-controls">
								<label for="font-family" style="display:inline-block">Font family:</label>
								<select id="font-family" class="btn btn-default btn-object-action" bind-value-to="fontFamily">
									<option value="arial">Arial</option>
									<option value="helvetica" selected>Helvetica</option>
									<option value="myriad pro">Myriad Pro</option>
									<option value="delicious">Delicious</option>
									<option value="verdana">Verdana</option>
									<option value="georgia">Georgia</option>
									<option value="courier">Courier</option>
									<option value="comic sans ms">Comic Sans MS</option>
									<option value="impact">Impact</option>
									<option value="monaco">Monaco</option>
									<option value="optima">Optima</option>
									<option value="hoefler text">Hoefler Text</option>
									<option value="plaster">Plaster</option>
									<option value="engagement">Engagement</option>
								</select>
								<br>
								<label for="text-align" style="display:inline-block">Text align:</label>
								<select id="text-align" class="btn btn-default btn-object-action" bind-value-to="textAlign">
									<option><span class="glyphicon glyphicon-align-left"></span>Left</option>
									<option><span class="glyphicon glyphicon-align-center"></span>Center</option>
									<option><span class="glyphicon glyphicon-align-rig²²ht"></span>Right</option>
									<option><span class="glyphicon glyphicon-align-justify"></span>Justify</option>
								</select>
								<div>
									<label for="text-bg-color">Background color:</label>
									<input type="color" value="" id="text-bg-color" size="10" class="btn btn-default barre barre btn-object-action" bind-value-to="bgColor">
								</div>
								<div>
									<label for="text-lines-bg-color">Background text color:</label>
									<input type="color" value="" id="text-lines-bg-color" size="10" class="btn btn-default barre btn-object-action" bind-value-to="textBgColor">
								</div>
								<div>
									<label for="text-stroke-color">Stroke color:</label>
									<input type="color" value="" id="text-stroke-color" class="btn btn-default barre btn-object-action" bind-value-to="strokeColor">
								</div>
								<div>
									<label for="text-font-size">Font size:</label>
									<input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn barre btn-object-action" bind-value-to="fontSize">
								</div>
								<div>
									<label for="text-line-height">Line height:</label>
									<input type="range" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn barre btn-object-action" bind-value-to="lineHeight">
								</div>
							</div>
							<div id="text-controls-additional">
								<button type="button" class="btn btn-object-action" ng-click="toggleBold()" ng-class="{'btn-inverse': isBold()}">
									Bold
								</button>
								<button type="button" class="btn btn-object-action" id="text-cmd-italic" ng-click="toggleItalic()" ng-class="{'btn-inverse': isItalic()}">
									Italic
								</button>
								<button type="button" class="btn btn-object-action" id="text-cmd-underline" ng-click="toggleUnderline()" ng-class="{'btn-inverse': isUnderline()}">
									Underline
								</button>
								<button type="button" class="btn btn-object-action" id="text-cmd-linethrough" ng-click="toggleLinethrough()" ng-class="{'btn-inverse': isLinethrough()}">
									Linethrough
								</button>
								<button type="button" class="btn btn-object-action" id="text-cmd-overline" ng-click="toggleOverline()" ng-class="{'btn-inverse': isOverline()}">
									Overline
								</button>
							</div>
						</div>
					</div>
				</div>
				<script>
					var kitchensink = {};
					var canvas = new fabric.Canvas('canvas');
				</script>
				<script src="js/utils.js"></script>
				<script src="js/app_config.js"></script>
				<script src="js/controller.js"></script>
			</div>
		</div>
	</div>
	<!-- 5eme bloc -->
	<script src="js/imgupload.js"></script>
</body>

</html>
